<p id="notice"><%= notice %></p>

<h1>Cita</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citum.each do |citum| %>
      <tr>
        <td><%= citum.Fecha %></td>
        <td><%= link_to 'Ver', citum %></td>
        <td><%= link_to 'Aplazar', edit_citum_path(citum) %></td>
        <td><%= link_to 'Eliminar', citum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citum', new_citum_path %>
