<div class="container">
<h1 class="center-align">Portal de Personal IPS ACME</h1>
<h2 class="center-align">Reportes</h2>

  <table class="striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Nombre del Médico</th>
      <th>Apellido del Médico</th>
      <th>Nombre del Paciente</th>
      <th>Apellido del Paciente</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @citas.each do |cita| %>
      <tr>
        <td><%= cita.fecha %></td>
        <td><%= cita.hora %></td>
        <td><%= cita.medic.nombre %></td>
        <td><%= cita.medic.apellido %></td>
        <td><%= cita.patient.nombre %></td>
        <td><%= cita.patient.apellido %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
