<h1 class="center-align">Citas del Paciente: <%=current_patient.nombre%></h1>
<div class="container">
  <div class="col s4"></div>
  <div class="col s4 14 offset-14">

  <table class="striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Nombre del Médico</th>
      <th>Apellido del Médico</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @citas.each do |cita| %>
      <tr>
        <td><%= cita.fecha %></td>
        <td><%= cita.hora %></td>
        <td><%= cita.medic.nombre %></td>
        <td><%= cita.medic.apellido %></td>
        <td><%= link_to 'Aplazar', edit_cita_path(cita), class: "waves-effect waves-light btn-small" %></td>
        <td><%= link_to 'Cancelar Cita', cita, method: :delete, data: { confirm: 'Estás seguro?' }, class: "waves-effect waves-light btn-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
<div class="center-align">
<%= link_to 'Nueva Cita', new_cita_path, class: "waves-effect waves-light btn" %>
</div>
<br><br>
</div>
</div>