<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<html>
  <head>
    <title>IPS ACME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
    <div class="row nav-wrapper blue accent-1">
      <div class="col s1"> <a href="/" class="btn-floating btn-large pulse" style="color:white">ACME</a></div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>                     
        </li>
        <% if patient_signed_in? %>                    
          <li>
          <%= link_to "Cerrar Sesión", destroy_patient_session_path, method: :delete, class: "waves-effect waves-light btn" %> 
          </li>
        <%end%>       
      </ul>
    </div>
  </nav>
<br>
<br>
<br>


    <%if notice %>
      <p class="notice"><%= notice %></p>
    <%end%>
    <%if alert %>
      <p class="alert"><%= alert %></p
    <%end%>
    <%= yield %>  

  </body>
  <!--footer-->
  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col s6 16 center-align">
          <h5>Acerca De Nosotros</h5>
          <p>Somos una ips que se encarga de la salud de miles de Colombianos</p>
        </div>
        <div class="col s6 14 offset-12 center-align">
          <h5>Contactanos</h5>
          <ul>
            <li><a href="#" class="grey-text text-lighten-3">Facebook</a></li>
            <li><a href="#" class="grey-text text-lighten-3">Twitter</a></li>
            <li><a href="#" class="grey-text text-lighten-3">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
